{% extends 'base.html.twig' %}

{% block title %}Artist{% endblock %}

{% block body %}
    <h1>Artist</h1>

    <div class="row g-2 mb-4">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <div class="ratio ratio-1x1">
                <img class="card-img-top" src="{{ artist.thumbnailUrl }}" alt="{{ artist.name }}'s Profile Picture">
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ artist.name }}</h5>
                <div class="row g-1">
                    <div class="col-auto"><a class="btn btn-primary" href="{{ path('app_artist_edit', {'id': artist.id}) }}">Edit</a></div>
                    <div class="col-auto"><a class="btn btn-secondary" href="{{ path('app_artist_index') }}">Go back</a></div>
                    <div class="col-auto">{{ include('artist/_delete_form.html.twig') }}</div>
                </div>
              </div>
            </div>
        </div>
    </div>

    {% for release in artist.releases %}
        <div class="row g-2 mb-4">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                  <div class="ratio ratio-1x1">
                    <img class="card-img-top" src="{{ release.thumbnailUrl }}" alt="{{ release.title }}'s Profile Picture">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{ release.title }}</h5>
                    <p class="small">Released: {{ release.releasedAt | date('d/m/Y') }}</p>
                    <p class="small text-muted">ID: {{ release.type }}</p>
                    <a href="{{ path('app_release_show', {'id': release.id}) }}" class="btn btn-primary">Show</a>
                  </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-info">
            <p>No releases found</p>
        </div>
    {% endfor %}
{% endblock %}
